<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="/assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:50px; float: right;"></ion-img>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</ion-header>



<ion-content>
  <div style="margin-top: 20px; text-align: center; margin-bottom: 20px;">
    <strong style="margin-top: 10px;">Conductores disponibles</strong>
  </div>

  <ion-grid>
    <div style="margin-bottom: 20px;">
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="/assets/icon/favicon.png" alt="Imagen no encontrada" style="height:50px;"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>Juan Carlos</div>
          <div>Ing Informatica</div>
        </ion-col>
      </ion-row>
    </div>
    <div style="margin-bottom: 20px;">
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="/assets/icon/favicon.png" alt="Imagen no encontrada" style="height:50px;"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>Maria Santanos</div>
          <div>Telecomunacaciones</div>
        </ion-col>
      </ion-row>
    </div>
    <div style="margin-bottom: 20px;">
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="/assets/icon/favicon.png" alt="Imagen no encontrada" style="height:50px;"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>Marco Filiano</div>
          <div>Contraterrorismo</div>
        </ion-col>
      </ion-row>
    </div>
    <div style="margin-bottom: 20px;">
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="/assets/icon/favicon.png" alt="Imagen no encontrada" style="height:50px;"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>Estevan Chaves</div>
          <div>Secuestro Profesional</div>
        </ion-col>
      </ion-row>
    </div>
    <div style="margin-bottom: 20px;">
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="/assets/icon/favicon.png" alt="Imagen no encontrada" style="height:50px;"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>Mega Mente</div>
          <div>SUPER villano</div>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

</ion-content>