<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 10px;">
    <ion-img src="/assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:250px;"></ion-img>
  </div>
  <div style="text-align: center;">
    <ion-button color="secondary" [routerLink]="['/buscar-pasajeros']">Buscar Pasajeros</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button color="secondary" [routerLink]="['/buscar-conductores']">Buscar Conductor</ion-button>
  </div>

</ion-content>