<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="margin-top: 10px;">
    <ion-img src="../../assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:250px;"></ion-img>
  </div>
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Rut*</ion-label>
      <ion-input placeholder="Ingrese run sin comas*" type="number"></ion-input> 
    </ion-item> 

    
    <ion-item>
      <ion-label position="floating">Contraseña*</ion-label>
      <ion-input placeholder="Ingrese su contraseña*" type="password"></ion-input>
    </ion-item>

    <div style="text-align: center;padding-top: 100px;">
      <ion-button color="secondary" [routerLink]="['/menu-principal']">Confirmar</ion-button>
      <ion-button color="secondary" [routerLink]="['/home']">Cancelar</ion-button>
    </div>
  </ion-list>
</ion-content>