<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Contraseña*</ion-label>
    <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña*</ion-label>
    <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
  </ion-item>

  <div style="text-align: center;">
    <div>
      
        <ion-button color="secondary" [routerLink]="['/perfil']">Confirmar</ion-button>
      
     
        <ion-button color="secondary" [routerLink]="['/perfil']">Regresar</ion-button>
    </div>
  </div>
</ion-content>
