<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Speedy
    </ion-title>
    <ion-img src="/assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:50px; float: right;"></ion-img>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="comp1">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="comp2">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="comp3">
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="margin-top: 20px;">
    <ion-img src="/assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:250px;"></ion-img>
  </div>
  <div style="text-align: center;"><strong>Bienvenid@ a Speedy Duoc</strong>
    <div style="margin-top: 20px;">
      <strong style="margin-top: 10px;">Que desea hacer?</strong>
    </div>

    <div style="margin-top: 20px;">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
      <strong>Iniciar sesion</strong>
    </div>
    <div>
      <ion-icon name="car-sport-outline" size="large"></ion-icon>
      <strong>Registrarme como conducor</strong>
    </div>
    <div>
      <ion-icon name="people-outline" size="large"></ion-icon>
      <strong>Registrarme como pasajero</strong>
    </div>




  </div>



</ion-content>

<ion-router-outlet></ion-router-outlet>