<ion-header>
 

  
</ion-header>

<ion-content [fullscreen]="true">
  <app-barra-lateral></app-barra-lateral>
  <div style="margin-top: 75px;">
    <ion-img src="../../assets/img/DuocUcSpeedy.png" alt="Imagen no encontrada" style="height:250px;"></ion-img>
  </div>
  <div style="text-align: center;">
    <div>
      <ion-button color="secondary" [routerLink]="['/login']">Iniciar Sesion</ion-button>
    </div>
    <div>
      <ion-button color="secondary" [routerLink]="['/registro-usuario']">Registrarse</ion-button>
    </div>
    <div>
      <ion-button color="secondary" [routerLink]="['/registro-usuario']">Registrarse</ion-button>
    </div>
  </div>

</ion-content>